@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.app-header, .nav-btns ul{
    display: flex;
}

.nav-btns ul{
    list-style: none;
}

.nav-btns ul li{
    font-size: 20px;
    margin: 0px 50px;
    padding: 7px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-btns ul li:hover{
    cursor: pointer;
    color: silver;
}


.app-header{
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.app-header h2{
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.search{
    display: flex;
}

input{
    display: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.show-input{
    display: block;
    width: 250px;
    margin-right: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid silver;
    border-radius: 26px;
    animation: mymove 0.5s ease-in-out;
}

@keyframes mymove {
    0% {
        width: 0px;
    }
    100% {
        width: 250px;
    }
}

.app-header button{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 139, 139);
    border: none;
    box-shadow: 3px 3px 3px rgb(1, 63, 63);
    outline: none;
    border-radius: 50%;
}

.app-header button:hover{
    background-color: rgba(0, 139, 139, 0.8);
    cursor: pointer;
}



