@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

.movie-card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 15px 15px;
   
}

.btn{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.action-btns{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;

}

.remove-btn{
    background-color: rgb(235, 14, 14);
}

.add-btn{
    background-color: green;
}

.btn:hover{
    cursor: pointer;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.movie-card-container img, .movie-name, .movie-info{
    width: 160px;
}

.movie-card-container img{
    box-shadow: 5px 5px 20px black;
}


.genre, .movie-name, .remove-btn{
    display: flex;
}

.movie-name{
    flex-wrap: wrap;
    margin: 10px auto;
    color: rgb(163, 163, 163);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.movie-genre, .movie-rating{
    margin: 3px 0;
    font-family: "Raleway",
    sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
}

.movie-rating em{
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
}

.low-rating{
    color: rgb(230, 17, 17);
}

.high-rating{
    color: rgb(6, 118, 6);
}
