*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movies-wrapper{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.app .fa-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}